<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3>Product List</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input ng-model="query.category" class="form-control" type="text" placeholder="Filter by category"/>
        </div>
        <div class="col-sm-4">
            <input ng-model="query.name" class="form-control" type="text" placeholder="Filter by name"/>
        </div>
        <div class="col-sm-4">
            <input ng-model="query.quantity" class="form-control" type="text" placeholder="Filter by quantity"/>
        </div>
    </div>
</div>

<div class="well" ng-repeat="product in products | filter:query | pagination : currentPage * pageSize | limitTo: pageSize">
    <div class="row">
        <div class="col-sm-3">{{product.category}}</div>
        <div class="col-sm-3">{{product.name}}</div>
        <div class="col-sm-3">{{product.quantity}}</div>
        <div class="col-sm-3">
            <a href="" ng-click="addToCart(product)" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>

<div class="well text-center">
    <ul class="pagination">
        <li 
            ng-click="currentPage = currentPage - 1"
            ng-class="{disabled: currentPage == 0}">
            <a href="" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>1
            </a>
        </li>
        <li ng-repeat="i in pages">
            <a href="" ng-click="goToPage(i)">{{i + 1}}</a>
        </li>
        <li 
            ng-click="currentPage = currentPage + 1"
            ng-class="{disabled: currentPage == pageNumber - 1}">
            <a href="" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>